<div class="">
  <div class="border-2 rounded-lg h-full">
    <div class="m-5">
      <div>
        <!-- change contents when click button subjects -->
        <ng-container *ngFor="let subjectLists of subjectListsFromParent">
          <p class="text-2xl font-bold">{{ subjectLists.subjectName }}</p>
          <p class="my-2">
            {{ subjectLists.description }}
          </p>
        </ng-container>

        <div class="grid grid-col-3">
          <div class="flex">
            <!-- static content -->
            <div class="my-10 w-full">
              <p class="text-lg font-bold">
                We invest in the world's potential
              </p>
              <ng-container class="" *ngFor="let content of contents">
                <div class="flex items-center my-2 w-[50%]">
                  <img class="w-8 h-8" [src]="checkBoxImage" alt="checkBox" />
                  <p>{{ content }}</p>
                </div>
              </ng-container>
            </div>

            <!-- change image subjects when click on each buttons -->
            <ng-container>
              <div
                class="w-[60%] mx-5"
                *ngFor="let subjectLists of subjectListsFromParent"
              >
                <img
                  class="w-[70%]"
                  [src]="subjectLists.thumbnail"
                  alt="subject image"
                />
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
