<!-- login content -->
<ng-container *appBooleanDirective="!bool"> 
  <div
    class="flex flex-col items-center justify-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 h-screen"
  >
    <div class="text-2xl my-5 text-white">
      <p>{{ "welcome to new angular homework!" | capitalize }}</p>
      <p>{{ "Please log in to see the content inside." }}</p>
    </div>
    <div>
      <button
        (click)="bool = !bool"
        class="w-28 text-white rounded-lg p-2 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 hover:scale-110"
      >
        {{ "log in" | capitalize }}
      </button>
    </div>
  </div>
</ng-container>

<!-- logout content -->

<ng-container *appBooleanDirective="bool">
  <div class="flex justify-center">
    <div class="grid grid-cols-3 h-screen w-full">
      <!-- sidebar.component -->
      <div class="col-span-1 mx-10 my-5">
        <app-sidebar
          (logoutEvent)="logout($event)"
          (buttonSubjectList)="recieveSubjectList($event)"
        ></app-sidebar>
      </div>
      <!-- right-content.component -->
      <div class="col-span-2 mx-10 my-5">
        <app-right-content
          [subjectListsFromParent]="recieveSubjectLists"
        ></app-right-content>
      </div>
    </div>
  </div>
</ng-container>
