<div class="">
  <!-- sidebar lists -->
  <div class="border-2 flex flex-col items-center rounded-lg">
    <div class="m-5 w-[65%]">
      <div class="h-full">
        <p class="text-xl font-bold">
          {{ "my favorite subjects" | capitalize }}
        </p>
      </div>
      <div class="flex flex-col my-3">
        <ng-container
          *ngFor="let subject of subject_lists | sortAlphabet : 'subjectName'"
        >
          <div class="">
            <button
              (click)="buttonDetails(subject.subjectName)"
              class="w-full text-left my-2 p-2 rounded-xl hover:scale-105 bg-slate-200"
            >
              <div class="flex">
                <img
                  class="w-7 h-7 mx-2"
                  [src]="subject.thumbnail"
                  alt="image subject"
                />
                <p>{{ subject.subjectName | capitalize }}</p>
              </div>
            </button>
          </div>
        </ng-container>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <!-- button logout -->
  <div class="my-5">
    <button
      (click)="logout(false)"
      class="bg-red-500 text-white rounded-lg p-2 w-1/3 hover:scale-110"
    >
      {{ "log out" | capitalize }}
    </button>
  </div>
</div>
